<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заметки</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<section>

    <div class="wrapContent">

        <div class="header_ToDo" >
            <img class="logo" src="images/content/Color.png" alt="SENLA" title="logo company SENLA"/>

            <form action="#" id="serchForm">
                <input type="text" id="searchTasks" placeholder="Search task for to do">
            </form>
        </div>

        <div class="btnStatus">
            <ul >
                <li >
                    <a class="allTasks activStatus" href="#" >All</a></li><li>
                <a class="activeTasks" href="#">Active</a></li><li>
                <a class="completedTasks" href="#">Done</a></li>
            </ul>
        </div>

        <div class="enterTasks">
            <form id="tasksForm" action="#">
                <label class="control_label_check" for="newTask">New Task</label>
                <textarea id="newTask" class="DisainPlaceholder" ></textarea>
                <button type="submit" id="addNewTask" class="styleButton">ADD</button>
            </form>
        </div>

        <div class="listToDo">

        </div>
    </div>

</section>
<script src="https://cdn.polyfill.io/v1/polyfill.js?Element.prototype.closest"></script>

</body>
